body {
    font-family: Arial, sans-serif;
    background-color: #a7d3d6;
    margin: 0;
    padding: 0;
  }
  
  .container {
    background-color: #fff;
    width: 60%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label, p {
    margin-top: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 10px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #1da598;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #16807a;
  }
  